<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*"
           UpgradeCode="A7DFAA38-00C1-4187-9F41-D6C11A8955D5"
           Language="1033"
           Manufacturer="Cloudflight Austria GmbH"
           Name="DockerInWSL"
           Version="1.0.2.1">

    <Package InstallerVersion="301" Compressed="yes" Platform="x64" />

    <Upgrade Id='A7DFAA38-00C1-4187-9F41-D6C11A8955D5'>
      <UpgradeVersion OnlyDetect='yes' Property='SELFFOUND'
          Minimum='1.0.2' IncludeMinimum='yes'
          Maximum='1.0.2' IncludeMaximum='yes' />
      <UpgradeVersion OnlyDetect='yes' Property='NEWERFOUND'
          Minimum='1.0.2' IncludeMinimum='no' />
      <UpgradeVersion
          Minimum="1.0.0" Maximum="1.0.2"
          Property="PREVIOUSVERSIONSINSTALLED"
          IncludeMinimum="yes" IncludeMaximum="no" />
    </Upgrade>

    <!-- This condition adds an item to the LaunchCondition table of the MSI to block a user -->
    <!-- from setting  this property to something other than blank. -->
    <Condition Message="[ProductName] can not be installed for all users.">
        <![CDATA[NOT ALLUSERS]]>
    </Condition> 

    <!-- This condition adds an item to the LaunchCondition table of the MSI to block a user -->
    <!-- from installing this product unless they have administrative privileges on the system. -->
    <Condition Message="You must have Administrative rights on this machine to install [ProductName].">
        <![CDATA[Privileged]]>
    </Condition>

    <Property Id="POWERSHELLEXE">
    <RegistrySearch Id="POWERSHELLEXE"
        Type="raw"
        Root="HKLM"
        Key="SOFTWARE\Microsoft\PowerShell\1\ShellIds\Microsoft.PowerShell"
        Name="Path" 
        Win64="yes" />
    </Property>
    <Condition Message="This application requires Windows PowerShell.">
        <![CDATA[POWERSHELLEXE]]>
    </Condition>

    <!-- Install -->
    <SetProperty Id="InstallDockerInWSL"
        Before ="InstallDockerInWSL"
        Sequence="execute"
        Value="&quot;[POWERSHELLEXE]&quot; -Version 3.0 -NoProfile -NonInteractive -InputFormat None -ExecutionPolicy Bypass -Command &quot;&amp; '[#INSTALL.PS1]' ; exit $$($Error.Count)&quot;" />

    <CustomAction Id="InstallDockerInWSL" BinaryKey="WixCA" DllEntry="WixQuietExec64" Execute="deferred" Return="check" Impersonate="yes" />

    <!-- Uninstall -->
    <SetProperty Id="UninstallDockerInWSL"
        Before ="UninstallDockerInWSL"
        Sequence="execute"
        Value="&quot;[POWERSHELLEXE]&quot; -Version 3.0 -NoProfile -NonInteractive -InputFormat None -ExecutionPolicy Bypass -Command &quot;&amp; '[#UNINSTALL.PS1]' ; exit $$($Error.Count)&quot;" />

    <CustomAction Id="UninstallDockerInWSL" BinaryKey="WixCA" DllEntry="WixQuietExec64" Execute="deferred" Return="check" Impersonate="yes" />

    <CustomAction Id='AlreadyInstalled' Error='[ProductName] is already installed.' />
    <CustomAction Id='NoDowngrade' Error='A later version of [ProductName] is already installed.' />

    <!-- Install Sequence -->
    <InstallExecuteSequence>
        <Custom Action='AlreadyInstalled' After='FindRelatedProducts'>SELFFOUND</Custom>
        <Custom Action='NoDowngrade' After='FindRelatedProducts'>NEWERFOUND</Custom>
        <RemoveExistingProducts Before="InstallInitialize" /> 
        <Custom Action="InstallDockerInWSL" Before="InstallFinalize"><![CDATA[NOT Installed]]></Custom>
        <Custom Action='UninstallDockerInWSL' After="InstallInitialize"><![CDATA[Installed AND (NOT UPGRADINGPRODUCTCODE) AND (REMOVE="ALL")]]></Custom>
    </InstallExecuteSequence>

    <MediaTemplate EmbedCab="yes" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLFOLDER" Name="DockerInWSL">
          <Directory Id="INSTALLSCRIPTSFOLDER" Name="InstallScripts" />
        </Directory>
      </Directory>
      <Directory Id="StartupFolder" />
    </Directory>

    <Feature Id="CompleteFeature">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="InstallerScriptsComponents" />
      <ComponentRef Id="ApplicationShortcutStartupComponent" />
    </Feature>
  </Product>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="ControlFileComponent" Guid="*" Win64="yes">
        <File Id="DOCKER.BAT" Source="docker.bat"></File>
      </Component>
      <Component  Id="ImageSourceComponent" Guid="*" Win64="yes">
        <File Source="../dockerinwsl.tar"></File>
      </Component>
      <Component Id="EnvironmentComponent" Guid="*" Win64="yes">
        <RegistryValue Root="HKCU" Key="Software\DockerInWSL" Name="DOCKER_HOST" Type="string" Value="tcp://localhost:2375" KeyPath="yes"/>
        <Environment Id="DOCKER_HOST" Name="DOCKER_HOST" Value="tcp://localhost:2375" Permanent="no" Part="all" Action="set" System="no" />
      </Component>
    </ComponentGroup>
    <Component Id="ApplicationShortcutStartupComponent" Guid="*" Win64="yes" Directory="StartupFolder">
      <Shortcut Id="StartupFolderShortcut" Name="dockerinwsl"
                Description="DockerInWSL Startup"
                Target="[#DOCKER.BAT]"
                Arguments="start clf_dockerinwsl"
                WorkingDirectory="INSTALLFOLDER" />
      <RemoveFile Id="RemoveStartupFolderShortcut" Name="dockerinwsl" On="uninstall" />
      <RegistryValue Root="HKCU" Key="Software\DockerInWSL" Name="startup" Type="integer" Value="1" KeyPath="yes"/>   
    </Component>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="InstallerScriptsComponents" Directory="INSTALLSCRIPTSFOLDER">
      <Component Id="InstallScriptComponent" Guid="*" Win64="yes">
          <File Id="INSTALL.PS1" Name="install.ps1" Source="InstallScripts\install.ps1"/>
      </Component>
      <Component Id="UninstallScriptComponent" Guid="*" Win64="yes">
          <File Id="UNINSTALL.PS1" Name="uninstall.ps1" Source="InstallScripts\uninstall.ps1"/>
      </Component>
      <Component Id="CommonScriptComponent" Guid="*" Win64="yes">  
          <File Id="_COMMON.PS1" Name="_common.ps1" Source="InstallScripts\_common.ps1"/>
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>